a:focus {outline: none;}
html {
	font-family: georgia, serif;
	font-size: 12px;
	}
a {
	text-decoration: none;
	color: #777;
	display: block;
	cursor: pointer;
}
a:visited {text-decoration: none;color: #777;}
a:hover {
	color: #111;
}
a:active {color: #111;}
#pageTitle {
	padding-top: 10px;
	width: 100%;
	border-bottom: 7px solid #cbcbcb;
	position: fixed;
	height: 40px;
	background: #fff;
	}
#pageTitle h1 {
	background: #fff url(../img/will_deutsch_header.jpg) no-repeat 0 0;
	text-indent: -9999px;
	display: block;
	width: 284px;
	height: 37px;
}
#pageTitle h2,
#pageTitle h3 {
	font-size: 14px;
	text-transform: lowercase;
	color: #878787;
	position: relative;
	left: 300px;
	top: -35px;
}

#pageTitle h3 {
	color: #ccc;
	
	
}
h2#portfolio {
	text-indent: -9999px;
	display: block;
	height: 70px;
	width: 282px;
	background: #fff url(../img/portfolio.jpg) no-repeat 0 0;
	margin-top: 20px;
}
div#nav {
	width: 282px;
	display: block;
	background: #fff;
	float: left;
	position:fixed;
	top: 59px;
	}
ul#mainNav {
	padding-top: 6px;
}
ul#mainNav li {
	display:block;
	float:left;
	width: 44px;
	height: 16px;
}
ul#mainNav li a {
	width: 42px;
	height: 15px;
	display: block;
	text-indent: -9999px;
}
#mainNav #home a:link, 
#mainNav #home a:visited {background: #fff url(../img/navSprite.jpg) no-repeat 2px 0;}
#mainNav #home a:hover,
#mainNav #home a:active {background: #fff url(../img/navSprite.jpg) no-repeat 2px -17px;}
#mainNav #blog a:link,
#mainNav #blog a:visited {background: #fff url(../img/navSprite.jpg) no-repeat -44px 0;width: 33px;}
#mainNav #blog a:hover, 
#mainNav #blog a:active {background: #fff url(../img/navSprite.jpg) no-repeat -44px -17px;}
#mainNav #about  a:link,
#mainNav #about  a:visited {background: #fff url(../img/navSprite.jpg) no-repeat -88px 0;}
#mainNav #about  a:hover,
#mainNav #about  a:active {background: #fff url(../img/navSprite.jpg) no-repeat -88px -17px;}
#mainNav #order  a:link, 
#mainNav #order  a:visited {background: #fff url(../img/navSprite.jpg) no-repeat -135px 0;}
#mainNav #order  a:hover,
#mainNav #order  a:active {background: #fff url(../img/navSprite.jpg) no-repeat -135px -17px;}
#mainNav li#contact {width: 60px;} 
#mainNav li#contact  a:link,
#mainNav li#contact  a:visited {background: #fff url(../img/navSprite.jpg) no-repeat -184px 0;width: 60px;}
#mainNav li#contact  a:hover, 
#mainNav li#contact  a:active {background: #fff url(../img/navSprite.jpg) no-repeat -184px -17px;}
#mainNav #links  a:link,
#mainNav #links  a:visited {background: #fff url(../img/navSprite.jpg) no-repeat -244px 0;width:40px;}
#mainNav #links  a:hover,
#mainNav #links  a:active {background: #fff url(../img/navSprite.jpg) no-repeat -244px -17px;}
#portfolioNav li {
	width: 90px;
	height: 24px;
	display: block;
	float: left;
	}
/*#portfolioNav #paintNav,
#portfolioNav #drawNav,
#portfolioNav #sculptNav {
	position: absolute;
	top: 0;
	background: #fff;
	z-index: -5;
}
#portfolioNav #paintNav,
#portfolioNav #drawNav,
#portfolioNav #sculptNav {
	position: absolute;
	top: 30px;
	background: #fff;
	z-index: 0;
	width: 280px;
	height: 600px;
	display: block;
}*/
#paintNav,
#sculptNav,
#drawNav {width: 280px;margin-top: 10px;}
#sculptNav {
	position: relative;
	left: -180px;
	}
	#drawNav {position: relative;left: -90px;}
	
#paintNav li,
#sculptNav li,
#drawNav li {display: block;float: none;height: 15px;}
#paintNav a,
#drawNav a,
#sculptNav a {text-align: right;width: 280px;float: none;display: block;}
#content {
	width: 520px;
	position: relative;
	left: 300px;
	top: 57px;
	z-index: -10;
}
#content h2 {
	font-size: 36px;
	font-weight: bold;
	background: #fff;
	width: auto;display: inline;
	padding-right: 3px;
	}
#portfolioNav {position: relative;top: 0px;height: 600px;}
#paintTab {
	width: 90px;
	background: #fff url(../img/portNavSprite.jpg) no-repeat 0px 4px;
	height: 24px;
	display: block;
	text-indent: -9999px;
	margin-left: 2px;
	}
#paintTab:hover,
.active #paintTab {background: #fff url(../img/portNavSprite.jpg) no-repeat 0px -25px;}
#drawTab {
	/*position: relative;
	left: 90px;
	top: -20px;*/
	width: 90px;
	background: #fff url(../img/portNavSprite.jpg) no-repeat -82px 4px;
	height: 24px;
	display: block;
	text-indent: -9999px;
	}
#drawTab:hover,
.active #drawTab {
	background: #fff url(../img/portNavSprite.jpg) no-repeat -82px -25px;
}
#sculptTab {
/*	position: relative;
	left: 180px;
	top: -40px;*/
	width: 100px;
	background: #fff url(../img/portNavSprite.jpg) no-repeat -180px 4px;
	text-indent: -9999px;
	height: 24px;
	display: block;
	}
#sculptTab:hover,
.active #sculptTab {background: #fff url(../img/portNavSprite.jpg) no-repeat -180px -25px;}
#portfolioNav ul {z-index: 0;}
#nav #portfolioNav ul.selected {z-index: 35;}
.titleWrapper {background: #fff url(../img/titleBG.jpg) repeat-x 0 15px;width: 520px;display: block;}

.contentWrapper {
	background: #fff url(../img/pBG.gif);
	padding-bottom: 10px;
	text-align: center;
}
.contentWrapper p {background:transparent; display: block;text-align: left;margin-bottom: 10px;padding-top: 5px;margin-top: 4px;}
.contentWrapper p span {background: #fff;}
.contentWrapper img {display: inline;}
#content dl {background: #222;width: 480px; display: block;color: #eee;font-family: helvetica, sans-serif;margin: auto;margin-bottom: 20px;padding: 10px 10px 25px 10px;font-weight: lighter;}
#content dl dd,
#content dl dt {display: inline;}
#content dt {border-right: 1px solid #444; padding-right: 5px;float: left;width: 50px;}
#content dd {color: #ccc;margin-left: 5px;float: left;width: 370px;}
.contentWrapper h5 {width:510px ;background: transparent;font-size: 14px;color: #000;text-align: right;}
p span strong {font-weight: bold;}
dl a {font-weight: bold;color: #ddd;margin-left: 10px;}
dl a:hover {color: #fff;}
.contentWrapper h5 span {font-family:helvetica;background-color:#fff;font-weight:bold;padding:4px;margin:0;}
#content .links li span {background: #fff;padding-right: 4px;}
#content .links li span a {display: inline;}
#links #content {z-index: 50;}
#pageTitle h3 {border: none;}
h3 {background: #fff;border-bottom: 1px solid #000;}
#content dl.contact {background: #fff;color: #333;margin-top: 20px;}
#content dl.contact a {color: #666;}
.links a {background-color: #fff;;}