* html #new_index #content {
	position: static;
	
	}
* html #pageTitle {
	padding: 10px 0 0 0;
	position: static;
	height: 10px;
	
}
* html #pageTitle h1 {float: left;width: 284px;}
* html #pageTitle h2,
* html #pageTitle h3 {float: left;width: 300px;margin: 0;display: inline;}
* html #pageTitle h2 {position: relative;top: 0px;left: 10px;font-weight: bold;}
* html #pageTitle h3 {position: relative;top: 18px;left: -290px;font-weight: bold;}
* html #nav h2#portfolio {position: relative;top: -15px;}
* html ul#portfolioNav {position: relative;top: -15px;}
* html #portfolioNav ul#paintNav.selected {float: none;width: 300px;outline: 1px solid red;position: relative;top: 100px;}
/* html #pageTitle h3 {position: relative;top: 0px;left: 0px;}*/