<footer class="bt b--black-10 w-100">
  <div class="pa3 pa4-m pa5-l w-100">
  <ul class="list pl0 ml0 mb5">
    <li class="dib mr4"><a class="dim link black-70 f6 ttu tracked fw6 pv2 db" href="{{site.url}}" title="Home">Home</a></li>
    <li class="dib mr4"><a class="dim link black-70 f6 ttu tracked fw6 pv2 db" href="{{site.url}}/painting/" title="Home">Painting</a></li>
    <li class="dib mr4"><a class="dim link black-70 f6 ttu tracked fw6 pv2 db" href="{{site.url}}/sculpting/" title="Home">Sculpting</a></li>
    <li class="dib mr4"><a class="dim link black-70 f6 ttu tracked fw6 pv2 db" href="{{site.url}}/drawing/" title="Home">Drawing</a></li>
    <li class="dib mr4"><a class="dim link black-70 f6 ttu tracked fw6 pv2 db" href="{{site.url}}/about/" title="About">About</a></li>
    <li class="dib mr4"><a class="dim link black-70 f6 ttu tracked fw6 pv2 db" href="http://store.notesfromthetribe.com" title="Order Will Deutsch Art">Store</a></li>
    <li class="dib mr4"><a href="mailto:crydrawcry@gmail.com" class="link dim black-70 f6 ttu tracked fw6 pv2 db" title="Email Will Deutsch">crydrawcry@gmail.com</a></li>
  </ul>
  <p class="cf w-100">
    <span class="f6 mt4 fl w-100 w-50-ns">© Copyright 2016 Will Deutsch</span>
    <span class="f6 mt4 fl w-100 w-50-ns fr-ns tr-ns"> Built by <a class="link fw6 black-70" href="http://mrmrs.cc" title="mrmrs">mrmrs</a> with <a class="link fw6 black-70" href="http://tachyons.io" title="tachyons">Tachyons</a></span>
  </p>
</div>
</footer>
