<footer class="dark footer cta">
  <ul class="nav main">
    <li class="nav-i fourth"><a class="nav-l" href="{{site.url}}" title="Home">Home</a></li>
    <li class="nav-i fourth"><a class="nav-l" href="{{site.url}}/about/" title="About">About</a></li>
    <li class="nav-i fourth"><a class="nav-l" href="http://store.notesfromthetribe.com" title="Order Will Deutsch Art">Store</a></li>
    <li class="nav-i fourth"><a class="nav-l" href="{{site.url}}/links/" title="Links">Links</a></li>
  </ul>
  <p class="pt-3">
    <a href="mailto:crydrawcry@gmail.com" class="email-link" title="Email Will Deutsch">crydrawcry@gmail.com</a><br>
    <span class="meta">© 2013 Will Deutsch.</span>
  </p>
</footer>
