<nav role="main">
  <ul class="nav main">
    <li class="nav-i"><a href="{{site.url}}" title="Home">Home</a></li>
    <li class="nav-i"><a href="{{site.url}}/about/" title="About">About</a></li>
    <li class="nav-i"><a href="http://store.notesfromthetribe.com" title="Order Will Deutsch Art">Store</a></li>
    <li class="nav-i"><a href="{{site.url}}/links/" title="Links">Links</a></li>
  </ul>
  <ul class="nav portfolio">
    <li class="nav-i"><a href="{{site.url}}/painting/" title="Painting">Painting</a></li>
    <li class="nav-i"><a href="{{site.url}}/drawing/" title="Drawing">Drawing</a></li>
    <li class="nav-i"><a href="{{site.url}}/sculpting/" title="Sculpting">Sculpting</a></li>
  </ul>
</nav>
