// Your styles here.

html {
  background:#f4f4f4;
}


a {
  text-decoration:none;
}

.content {
  @extend %default;
}

.optional-nav {
  display:none;
}

.painting {
  margin-bottom:.5em;
  position:relative;
  img {
    margin:0 auto;
  }
}

.pop-up {
  text-align:center;
  display:none;
  width:auto;
  h1 {font-size:24px;}
}
  dl,dt,dd {margin:0;padding:0;display:inline-block;text-align:left;}
  dt {font-weight:bold;}

.lightbox {
  width:100%;
  background:#000;
}

.full-piece {
  margin:3em auto;
  float:none;
}

.full-div {
  float:left;
  width:100%;
  background:yellow!important;
}

.centered {
  text-align:center;
}

.drawings img {
  margin:.25em auto;
}

.drawings {
  font-size:20px;
  padding-bottom:4em;
}


.meta {
  padding-top:4em;
  line-height:2;
  font-size:14px;
}

.body-copy {
  max-width:600px;
  margin:0 auto;
}

.email-link {
  color:#444;
}

.link {
  font-size:24px;
  color:#999;

}

.list {
  margin:0;
  padding:1em;
  font-size:18px;
  line-height:1.5;
}

.list-i {
  display:inline-block;
  border-bottom:1px solid #ddd;
  margin-bottom:.2em;
}

.list-i a {
  display:block;
  padding:1em;
  color:#333;
  background-color:#f3f3f3;
  &:hover {
    color:#000;
    background-color:#e3e3e3;
    transition: color .4s;
    -moz-transition: color .4s; /* Firefox 4 */
    -webkit-transition: color .4s; /* Safari and Chrome */
    -o-transition: color .4s; /* Opera */
  }
}

.nav li a:hover {
color:#ccc;
    transition: color .4s;
    -moz-transition: color .4s; /* Firefox 4 */
    -webkit-transition: color .4s; /* Safari and Chrome */
    -o-transition: color .4s; /* Opera */
}

.meta-plus {
  font-size:14px;
  letter-spacing:.1em;
}


.project {
  margin:0 auto;
  width:300px;
}

.project .link {
  &:hover {
    img {
    opacity:0.2; 
    transition: opacity .4s;
    -moz-transition: opacity .4s; /* Firefox 4 */
    -webkit-transition: opacity .4s; /* Safari and Chrome */
    -o-transition: opacity .4s; /* Opera */
    }
  }
}

h1 {
    a:link,a:visited {
        color:#222; 
    }
}
