body {
  font-family:"proxima-nova", helvetica, arial, sans-serif;
}

.serif {
  font-family:"freight-display-pro",georgia,serif;
}

.h1 {
  font-size:96px;  
  margin:0;
  font-weight:100;
  letter-spacing:.05em;
  display:block;
}

.h1.title {
  font-size:48px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  text-align:center;
  padding:1.5em 0 .5em 0;
}

.caps {text-transform:uppercase; }
.cta {text-align:center;}

.h2 {
  color:#777;
  font-size:22px;
  font-weight:100;
  line-height:1;
  padding:0;
  margin-bottom:0;
}

.h3 {
  font-size:14px;
  line-height:1;
  font-weight:100;
  margin-top:.5em;
  padding:0;
}

p {
  font-size:20px;
  width:100%;
  font-family:"freight-display-pro",georgia,serif;
  font-weight:100;
  line-height:1.5;
}

.quote {
  font-size:32px;
  font-style:italic;
  letter-spacing:0.1em;
}


.dark {
  padding:3em 0 4.5em 0!important;
  background-color:#eee;
  margin-top:0;
  color:#222;
}

.intro {
  font-size:32px;
  text-align:center;
  margin-bottom:2em;
  padding-bottom:1.25em;
}

